*.pyc
.idea
.eggs
debian/files
debian/changelog
debian/*.debhelper
debian/*.log
debian/*.substvars
debian/python-midonetclient/
doc/*.1
doc/*.html
build/*
src/midonetclient/topology/_protobuf/*
*_pb2.py
*_pb2.pyc

dist/*
src/*.egg-info

rhel/copyright
