include README
include LICENSE
include LICENSE.midonet-cli
include NEWS
include MANIFEST.in
recursive-include doc *
recursive-include src *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
