<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Midokura SARL
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration scan="true">
    <jmxConfigurator/>

    <appender name="LOG-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${midonet_brain_tools.log.dir}midonet_brain_tools.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} %-4level [%thread] %logger{0} %m%n%rEx</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${midonet_brain_tools.log.dir}midonet_brain_tools.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} %-4level [%thread] %logger{0} %m%n%rEx</pattern>
        </encoder>
    </appender>

    <!-- Fine grained settings for specific packages -->
    <!-- logger name="org.apache.cassandra" level="INFO" / -->
    <!-- logger name="org.eclipse.jetty" level="INFO" / -->

    <!-- OFF, ERROR, WARN, INFO, DEBUG, TRACE -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG-FILE" />
    </root>

</configuration>
