[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Galo Navarro (srvaroa)
[access "refs/for/refs/*"]
	read = group user/Galo Navarro (srvaroa)
	push = group user/Galo Navarro (srvaroa)
	label-Code-Review = -2..+2 group user/Galo Navarro (srvaroa)
	label-Verified = -1..+1 group user/Galo Navarro (srvaroa)
	rebase = group user/Galo Navarro (srvaroa)
	removeReviewer = group user/Galo Navarro (srvaroa)
	submit = group user/Galo Navarro (srvaroa)
[access "refs/heads/*"]
	read = group user/Galo Navarro (srvaroa)
	create = group user/Galo Navarro (srvaroa)
	push = +force group user/Galo Navarro (srvaroa)
	pushMerge = group user/Galo Navarro (srvaroa)
[access "refs/tags/*"]
	push = +force group user/Galo Navarro (srvaroa)
	pushTag = group user/Galo Navarro (srvaroa)
	pushSignedTag = group user/Galo Navarro (srvaroa)
