[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group midonet-admin
	create = group user/Galo Navarro (srvaroa)
	create = group user/Guillermo Ontañón (gontanon)
[access "refs/for/refs/*"]
	read = group Anonymous Users
	push = group Anonymous Users
	label-Code-Review = -2..+2 group midonet
	label-Code-Review = -2..+2 group midonet-agent
	label-Code-Review = -1..+1 group Anonymous Users
	label-Verified = -1..+1 group midonet-admin
	label-Verified = -1..+1 group midonet-agent
	rebase = group midonet
	removeReviewer = group midonet
	submit = group midonet
	exclusiveGroupPermissions = label-Code-Review label-Verified removeReviewer submit
[access "refs/heads/*"]
	read = group Anonymous Users
	create = group midonet-admin
	push = +force group midonet
	pushMerge = group midonet
	exclusiveGroupPermissions = create push pushMerge
[access "refs/tags/*"]
	push = group midonet
	pushTag = group midonet
	pushSignedTag = group midonet
	exclusiveGroupPermissions = push pushTag pushSignedTag
[project]
	description = MidoNet is an open source network virtualisation system for Openstack clouds. Learn more at http://midonet.org
[receive]
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
