Package: midolmanj-mgmt
Version: [[version]]
Section: misc
Priority: optional
Architecture: none
Depends: tomcat6
Maintainer: Dan Mihai Dumitriu <dan@midokura.com>
Description: Midolman-mgmt is the REST API for Midolman, a virtual network controller
Distribution: development
