Source: midolman
Section: non-free
Priority: extra
Maintainer: Romain Lenglet <romain.lenglet@berabera.info>
Build-Depends: debhelper (>= 7.0.50~), openjdk-6-jdk (>= 6b11), java6-sdk, maven2
Standards-Version: 3.9.1.0
Homepage: https://github.com/midokura/midolman
Vcs-Git: https://github.com/midokura/midolman.git
Vcs-Browser: https://github.com/midokura/midolman

Package: midolman
Architecture: all
Depends: Depends: openjdk-6-jre-headless (>= 6b11) | java6-runtime, jsvc (>= 1.0), libcommons-daemon-java (>= 1.0), adduser
Recommends: libjna-java
Description: MidoNet network virtualization controller
 Midolman allows creating virtual networks and virtual devices.
