<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Midokura SARL
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration scan="true">
    <jmxConfigurator/>

    <appender name="LOG-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${midonet-cluster.log.dir}midonet-cluster.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} %-4level [%thread] %logger{0} %m%n%rEx</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${midonet-cluster.log.dir}midonet-cluster.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Loggers for Cluster services -->

    <!-- VxLAN Gateway -->
    <!-- Top level logger for the VxGW service, enable for general logging from
         the service, fine tune for specific networks or vteps using the loogers
         below.
         -->
    <!-- <logger name="org.midonet.cluster.vxgw" level="DEBUG" /> -->

    <!-- Loggers for specific VxGW processes -->

    <!-- Information about hardware VTEP controllers bound to networks. -->
    <!-- <logger name="org.midonet.cluster.vxgw.vxgw-vtep-$VTEP_ID" level="DEBUG"/> -->

    <!-- Information about the controller of networks bound to VTEPs.
         Replace $NETWORK_ID with a given neutron network UUID
        -->
    <!-- <logger name="org.midonet.cluster.vxgw.vxgw-midonet-$NETWORK_ID" level="DEBUG" /> -->

    <!-- REST API -->
    <!-- logger name="org.midonet.cluster.services.rest_api" level="DEBUG"/ -->

    <!-- NEUTRON DATA SYNC BACKEND -->
    <!-- logger name="org.midonet.cluster.services.neutron-importer" level="DEBUG"/ -->


    <!-- Fine grained loggers for libraries, fine tune if required
         during debug. -->

    <!-- Set com.sun.jersey to INFO if you want verbose logs of each
         HTTP request/response, including headers -->
    <logger name="com.sun.jersey" level="WARN"/>
    <logger name="org.apache.cassandra" level="INFO"/>
    <logger name="org.apache.zookeeper" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.opendaylight" level="WARN"/>
    <logger name="org.reflections" level="INFO"/>

    <!-- OFF, ERROR, WARN, INFO, DEBUG, TRACE -->
    <root level="INFO">
        <appender-ref ref="LOG-FILE" />
    </root>

</configuration>
