Package: midolmanj
Version: [[version]]
Section: misc
Priority: optional
Architecture: amd64
Depends: quagga
Recommends: java7-runtime-headless, java7-jdk, openvswitch-datapath-dkms
Maintainer: Dan Mihai Dumitriu <dan@midokura.com>
Description: Midolman is a virtual network controller
Distribution: development
