Package: midolmanj
Version: [[version]]
Section: misc
Priority: optional
Architecture: amd64
Depends: default-jre-headless | java6-runtime-headless, openvswitch-switch, quagga
Maintainer: Dan Mihai Dumitriu <dan@midokura.com>
Description: Midolman is a virtual network controller
Distribution: development
