<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>MidoNet Management API</display-name>

  <!-- REST API configuration -->
  <context-param>
    <param-name>rest_api-version</param-name>
    <param-value>1</param-value>
  </context-param>

  <!-- CORS configuration -->
  <context-param>
    <param-name>cors-access_control_allow_origin</param-name>
    <param-value>*</param-value>
  </context-param>
  <context-param>
    <param-name>cors-access_control_allow_headers</param-name>
    <param-value>Origin, X-Auth-Token, Content-Type, Accept</param-value>
  </context-param>
  <context-param>
    <param-name>cors-access_control_allow_methods</param-name>
    <param-value>GET, POST, PUT, DELETE, OPTIONS</param-value>
  </context-param>
  <context-param>
    <param-name>cors-access_control_expose_headers</param-name>
    <param-value>Location</param-value>
  </context-param>

  <!-- Auth configuration -->
  <context-param>
    <param-name>auth-use_mock</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>auth-admin_token</param-name>
    <param-value>999888777666</param-value>
  </context-param>
  <context-param>
    <param-name>auth-tenant_admin_token</param-name>
    <param-value>999888777666</param-value>
  </context-param>
  <context-param>
    <!-- For mock only -->
    <param-name>auth-tenant_user_token</param-name>
    <param-value>999888777666</param-value>
  </context-param>
  <context-param>
    <!-- For mock only -->
    <param-name>auth-admin_role</param-name>
    <param-value>mido_admin</param-value>
  </context-param>
  <context-param>
    <param-name>auth-tenant_admin_role</param-name>
    <param-value>mido_tenant_admin</param-value>
  </context-param>
  <context-param>
    <param-name>auth-tenant_user_role</param-name>
    <param-value>mido_tenant_user</param-value>
  </context-param>

  <!-- Keystone configuration -->
  <context-param>
    <param-name>keystone-service_protocol</param-name>
    <param-value>http</param-value>
  </context-param>
  <context-param>
    <param-name>keystone-service_host</param-name>
    <param-value>127.0.0.1</param-value>
  </context-param>
  <context-param>
    <param-name>keystone-service_port</param-name>
    <param-value>35357</param-value>
  </context-param>

  <!-- Zookeeper configuration -->
  <!-- The following parameters should match the ones in midolman.conf 
       except 'use_mock' -->
  <context-param>
    <param-name>zookeeper-use_mock</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>zookeeper-zookeeper_hosts</param-name>
    <param-value>127.0.0.1:2181</param-value>
  </context-param>
  <context-param>
    <param-name>zookeeper-session_timeout</param-name>
    <param-value>3000</param-value>
  </context-param>
  <context-param>
    <param-name>zookeeper-midolman_root_key</param-name>
    <param-value>/midonet/v1</param-value>
  </context-param>

  <!-- Cassandra configuration -->
  <!-- The following parameters should match the ones in midolman.conf -->
  <context-param>
    <param-name>cassandra-servers</param-name>
    <param-value>localhost:9160</param-value>
  </context-param>
  <context-param>
    <param-name>cassandra-cluster</param-name>
    <param-value>midonet</param-value>
  </context-param>

  <!-- Monitoring configuration -->
  <context-param>
    <param-name>monitoring-cassandra_keyspace</param-name>
    <param-value>midonet_monitoring_keyspace</param-value>
  </context-param>
  <context-param>
    <param-name>monitoring-cassandra_column_family</param-name>
    <param-value>midonet_monitoring_column_family</param-value>
  </context-param>
  <context-param>
    <param-name>monitoring-cassandra_replication_factor</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>monitoring-cassandra_expiration_timeout</param-name>
    <param-value>525600</param-value>
  </context-param>

  <!-- Servlet Listner -->
  <listener>
     <listener-class>
         <!-- Use Jersey's Guice compatible context listener -->
         com.midokura.midolman.mgmt.servlet.JerseyGuiceServletContextListener
     </listener-class>
  </listener>

  <!-- Servlet filter -->
  <filter>
     <!-- Filter to enable Guice -->
    <filter-name>Guice Filter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Guice Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
