[Unit]
Description=Midonet Agent
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/share/midolman/midolman-prepare
ExecStart=/usr/share/midolman/midolman-start
# JVM exits with 143 when killed by SIGTERM, which is
# considered successful termination
SuccessExitStatus=143
KillMode=control-group
Restart=on-failure
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
