Package: midolman
Version: [[version]]
Section: misc
Priority: optional
Architecture: amd64
Depends: quagga (>= 0.99.21), bridge-utils, haproxy, java7-runtime-headless, openvswitch-datapath-dkms (>= 1.9) | openvswitch-datapath-source (>= 1.9)
Conflicts: openvswitch-switch, openvswitch-datapath-dkms (>= 2.0), openvswitch-datapath-source (>= 2.0)
Recommends: java7-jdk
Maintainer: Dan Mihai Dumitriu <dan@midokura.com>
Description: Midolman is a virtual network controller
Distribution: development
