Package: midolman
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: quagga (>= 0.99.21), bridge-utils, haproxy, iproute (>= 20111117-1ubuntu2.1), java7-runtime-headless, openvswitch-datapath-dkms (>= 1.9) | openvswitch-datapath-source (>= 1.9)
Conflicts: openvswitch-switch, openvswitch-datapath-dkms (>= 2.0), openvswitch-datapath-source (>= 2.0)
Recommends: java7-jdk
Maintainer: Midokura <info@midokura.com>
Description: Midolman is a virtual network controller
Distribution: development
