<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Restful Web Application</display-name>
  <servlet>
    <servlet-name>jersey-servlet-v1</servlet-name>
    <servlet-class>
      com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
    <init-param>
      <param-name>
        javax.ws.rs.Application
             </param-name>
      <param-value>
        com.midokura.midolman.mgmt.rest_api.v1.RestApplication
             </param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
      <param-value>com.midokura.midolman.mgmt.auth.KeystoneAuthFilter</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey-servlet-v1</servlet-name>
    <url-pattern>/v1/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>KeystoneAuth</filter-name>
    <filter-class>
      com.midokura.midolman.mgmt.servlet.filters.KeystoneAuthFilter
        </filter-class>
    <description>
      This filter authenticates the request by checking
      the
      token sent via Keystone.
        </description>
    <init-param>
      <param-name>service_protocol</param-name>
      <param-value>http</param-value>
    </init-param>
    <init-param>
      <param-name>service_host</param-name>
      <param-value>localhost</param-value>
    </init-param>
    <init-param>
      <param-name>service_port</param-name>
      <param-value>35357</param-value>
    </init-param>
    <init-param>
      <param-name>admin_token</param-name>
      <param-value>999888777666</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>KeystoneAuth</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  	<env-entry>
		<env-entry-name>datastore_service</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>com.midokura.midolman.mgmt.data.zookeeper.ZooKeeperDaoFactory</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>connection_string</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>127.0.0.1:2181</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>timeout</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>3000</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>zk_root_path</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/midonet/v1/midolman</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>zk_mgmt_root_path</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/midonet/v1/midolman-mgmt</env-entry-value>
	</env-entry>
</web-app>
