<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Midolman Management</display-name>
  <context-param>
    <param-name>version</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>datastore_service</param-name>
    <param-value>com.midokura.midolman.mgmt.data.zookeeper.ZooKeeperDaoFactory</param-value>
  </context-param>
  <context-param>
    <param-name>zk_conn_string</param-name>
    <param-value>127.0.0.1:2181</param-value>
  </context-param>
  <context-param>
    <param-name>zk_timeout</param-name>
    <param-value>3000</param-value>
  </context-param>
  <context-param>
    <param-name>zk_root</param-name>
    <param-value>/midonet/v1/midolman</param-value>
  </context-param>
  <context-param>
    <param-name>zk_mgmt_root</param-name>
    <param-value>/midonet/v1/midolman-mgmt</param-value>
  </context-param>
  <filter>
    <filter-name>keystone_auth</filter-name>
    <description>
      This filter authenticates the request by checking the
      token sent via Keystone.
    </description>
    <filter-class>
      com.midokura.midolman.mgmt.servlet.filters.KeystoneAuthFilter
    </filter-class>
    <init-param>
      <param-name>service_protocol</param-name>
      <param-value>http</param-value>
    </init-param>
    <init-param>
      <param-name>service_host</param-name>
      <param-value>mido-iida-2.midokura.jp</param-value>
    </init-param>
    <init-param>
      <param-name>service_port</param-name>
      <param-value>35357</param-value>
    </init-param>
    <init-param>
      <param-name>admin_token</param-name>
      <param-value>999888777666</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>keystone_auth</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.midokura.midolman.mgmt.servlet.listeners.ServletListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>jersey_servlet_v1</servlet-name>
    <servlet-class>
      com.sun.jersey.spi.container.servlet.ServletContainer
    </servlet-class>
    <init-param>
      <param-name>
        javax.ws.rs.Application
      </param-name>
      <param-value>
        com.midokura.midolman.mgmt.rest_api.v1.RestApplication
      </param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
      <param-value>com.midokura.midolman.mgmt.auth.KeystoneAuthFilter</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey_servlet_v1</servlet-name>
    <url-pattern>/v1/*</url-pattern>
  </servlet-mapping>
</web-app>
